@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Successful Registration</h4>
<a asp-controller="Login" asp-action="Login">Go to login</a>
