@{
    @if (User.Identity.IsAuthenticated)
    {
        Layout = "_Layout";
    }else
    {        
        Layout = "_LandingLayout";
    }
}
@model WebApp.ViewModels.LoginVM

<form asp-action="Login" method="post">
    <div class="container">

        <div class="row justify-content-center">
            <div class="form-group col-6 align-self-center my-2">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div> 
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-6 align-self-center my-2">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-6 align-self-center my-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    
    </div>
</form>
